@value moduleHeight: 4rem;

.root {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  outline: 0;
  transition: opacity .15s linear;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 9;
  opacity: .5;
}

.dialog {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  width: auto;
  pointer-events: none;
  max-width: 800px;
  transition: transform .3s ease-out;
  transform: none;
  margin: auto;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .25rem;
  outline: 0;
  max-height: none;
  overflow: hidden;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: moduleHeight;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.closeBtn {
  composes: buttonTransparent from '../../../common/styles/button.module.css';
  color: inherit;
  height: moduleHeight;
  width: moduleHeight;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: .85;
}
.closeBtn:hover {
  opacity: 1;
}

.saveBtn {
  composes: buttonPrimary from '../../../common/styles/button.module.css';
  border-radius: 0;
  padding: 0 2rem;
  outline: none;
}

.itemInfo {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.itemAmount {
  font-weight: normal;
  margin-left: 1rem;
}

.body {
  margin: 2rem;
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 1rem 0 2rem;
  width: 100%;
}

.label {
  font-size: 1.125rem;
  font-weight: 600;
}

.qtyInput {
  composes: input from '../../../common/styles/button.module.css';
  position: relative;
  flex: 1 1 0;
  min-width: 0;
  text-align: center;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 3;
}

.noteInput {
  composes: input from '../../../common/styles/button.module.css';
  height: auto;
}

.qtyBtn {
  composes: button from '../../../common/styles/button.module.css';
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: moduleHeight;
  z-index: 2;
}

.removeBtn {
  composes: button from '../../../common/styles/button.module.css';
  width: 100%;
  padding: .5rem 1rem;
  line-height: 2;
}
