.Basket-container {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #eaeaea;
    min-width: 320px;
    padding-top: 24px;
}

.Basket-subheader {
    margin: 1rem 0 .5rem;
}

.Basket-list {
    flex: 1 1 auto;
    overflow: auto;
}

.Basket-footer {
    padding-right: 24px;
    padding-left: 24px;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
