.App {
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App-content {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.TabContainer {
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
  flex-direction: column;
  background: #f9f9f9;
}

.App .AppBar {
  flex-direction: row;
}

.App .Tabs {
  flex: 1 1 auto;
}

.App .GridList {
  overflow: auto;
  width: 100%;
  margin: 0 !important;
}

.App .GridTitle-root {
  background: rgba(234, 234, 234, 0.68);
}

.App .GridTitle-wrap {
  color: inherit;
}

.DialogContent {
  display: flex;
}

.DialogContent-right {
  padding-left: 24px;
  margin: auto;
  text-align: center;
}

.App .Image {
  width: auto;
  height: 50%;
  transform: translateY(25%);
  margin: auto;
  display: block;
  left: 0;
}

.App .Grid {
  width: 100%;
}


.QtyInput input {
  text-align: center;
  width: 80px;
}
