:root {
  --palette-primary-light: #63a4ff;
  --palette-primary-main: #1976d2;
  --palette-primary-dark: #004ba0;
  --palette-primary-contrastText: #ffffff;

  --palette-secondary-light: #ffa040;
  --palette-secondary-main: #ff6f00;
  --palette-secondary-dark: #c43e00;
  --palette-secondary-contrastText: #000000;

  --palette-error-light: #e57373;
  --palette-error-main: #f44336;
  --palette-error-dark: #d32f2f;
  --palette-warning-light: #ffb74d;
  --palette-warning-main: #ff9800;
  --palette-warning-dark: #f57c00;
  --palette-info-light: #64b5f6;
  --palette-info-main: #2196f3;
  --palette-info-dark: #1976d2;
  --palette-success-light: #81c784;
  --palette-success-main: #4caf50;
  --palette-success-dark: #388e3c;

  --palette-text-primary: rgba(0, 0, 0, 0.87);
  --palette-text-secondary: rgba(0, 0, 0, 0.54);
  --palette-text-disabled: rgba(0, 0, 0, 0.38);

  --palette-action-active: rgba(0, 0, 0, 0.54);
  --palette-action-hover: rgba(0, 0, 0, 0.04);
  --palette-action-selected: rgba(0, 0, 0, 0.08);
  --palette-action-disabled: rgba(0, 0, 0, 0.26);
  --palette-action-disabledBackground: rgba(0, 0, 0, 0.12);

  --palette-background-default: #fafafa;
  --palette-background-paper: #ffffff;

  --palette-divider: rgba(0, 0, 0, 0.12);
}
