*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  touch-action: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: 500;
}

#root {
  height: 100%;
}
