.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.menuWrapper {
  height: 54px;
}

.receiptWrapper {
  width: 30%;
  min-width: 360px;
  height: 100%;
}

.goodsWrapper {
  width: 70%;
  height: 100%;
}
